/*
  These styles are some defaults meant for the Template.
  These are default, feel free to change them.

  I would suggest leaving the imports tho ;)
*/

@import '../styles/_reset.scss';
@import '../styles/variables.scss';
@import '../styles/fonts.scss';

body {
  background-color: $darkGrey;
}

header {
  background-color: $headerGrey;
  padding:20px;
  text-align:center;
}
#mainWrap {
  height:calc(100vh - 80px);
  max-width:80%;
  margin: $spacing auto 0 auto;
}
