/*
  These variables are some defaults ment for the Template.
  These are default, feel free to change them.
*/

// Apps Global Styles
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@300;400;500;700&family=Titillium+Web:wght@300;400;600;700&display=swap');

// Fonts
$headerFont : 'Montserrat', sans-serif;
$paraFont : 'Lato', sans-serif;
$cyberFont: 'Titillium Web', sans-serif;

// Colors
$darkGrey: #26303b;
$headerGrey: #1A2129;

$darkBlue: #2f6173;
$midBlue: #348ABF;
$lightBlue: #30bff2;
$lightestBlue: #44d5f2;

// Other
$spacing : 20px;
